header{
    padding: 0;
    margin: 0;
    background-color: #1C68AC;
    height: 220px;
}

.header .header_content{
    width: 980px;
    position: relative;
    margin: 0 auto;
    z-index: 2;
}

.header .ads,
.header .header-menu,
.header .mid-menu,
.header .searchbox,
.header .button_basket,
.header .imghref_logo{
    position: absolute;
}

.header .ads{
    padding-top: 10px;
    top: 150px;
    left: 0;
    font-size: 0;
    width: 100%;
    background-color: #303030;
    text-align: center;
    white-space: nowrap;
}

.header .header-menu{
    top: 5px;
    right: 0;
}

.header .searchbox{
    top: 55px;
    left: 190px;
}

.header .imghref_logo{
    top: 32px;
    left: 0;
}

.header .button_basket{
    top: 55px;
    right: 0;
}

.header .mid-menu{
    left: 0;
    top: 110px;
    width: 100%;
    background-color: #D3D3D3;
}