.login-pw{
    width: 335px;
    height: 250px;
    background-color: #e4e4e9;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.login-pw .login-head{
    height: 20px;
    width: 320px;
    color: #fff;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    background-color: #303030;
    padding: 5px 0 5px 15px;
}

.login-pw .login-body{
    padding: 25px 20px;
}

.login-pw .email,
.login-pw .pw{
    font-weight: bold;
    font-size: 12px;
    text-transform: capitalize;
}

.login-pw .href{
    padding-top: 10px
}

.login-pw .href a{
    color: #666666;
    font-size: 12px;
    text-decoration: none;
}

.login-pw .href a:hover{
    color: #000;
}