.text{
    padding: 10px 0;
    width: 250px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

.text .fa{
    padding: 5px 0 5px 5px;
    color: #6fcd57;
}

.text .fa:first-child{
    padding: 5px 0 5px 0;
}