.button{
    border: none;
    width: 120px;
    height: 32px;
    box-sizing: border-box;
    background-color: #eee;
    color: #666;
    border-radius: 4px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.4);
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
    transition: all 200ms
}
.button:hover{
    background-color: #dedede;
}
